configuration {
    show-icons:         true;
    icon-theme:         "Papirus-Dark";
    display-drun:       "";
    display-run:        "";
    display-window:     "";
    drun-display-format: "{name}";
    modi:               "drun,run,window";
    case-sensitive:     false;
}

@theme "theme"
